body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    margin: 0px;
}
p {
  font-weight: normal;
  font-style: normal;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #E5E5E5;
}
.titlename {
    /*margin-top: 0px;*/
    margin-bottom: 0px;
}
.titledate {
    color: #777;
    float: right;
    margin-top: 45px;
    margin-bottom: 0px;
}
.postheader {
    padding-bottom: 15px;
}

ul.projectlist {
    list-style: none;
    padding-left: 0px;
}

ul.projectlist li {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.projentry {
    padding-top: 20px;
}

h1 {
    font-size: 67px;
}
h2 {
    font-size: 50px;
}
h3 {
    font-size: 37px;
}
h4 {
    font-size: 28px;
}
h5 {
    font-size: 21px;
}
h6 {
    font-size: 16px;
}

