body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Fira Sans', sans-serif;
    background: url(/img/noisy_grid.png) repeat 0 0;
}
p {
  font-weight: normal;
  font-style: normal;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #E5E5E5;
}
.header {
    margin-bottom: 30px;
    border-bottom: 1px solid #E5E5E5;
}
.header h3 {
    padding-bottom: 19px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 40px;
}
.titlename {
    /*margin-top: 0px;*/
    margin-bottom: 0px;
}
.titledate {
    color: #777;
    float: right;
    margin-top: 25px;
    margin-bottom: 0px;
}
.postheader {
    padding-bottom: 15px;
}

ul.projectlist {
    list-style: none;
    padding-left: 0px;
}

ul.projectlist li {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.projentry {
    padding-top: 20px;
}
